@import "tailwindcss";
 
:root {
  --background: #ffffff;
  --foreground: #171717;
}
 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 
body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  z-index: 100;
}
#citation-home {
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
  border-radius: .5rem;
  font-family: cursive;
  color: rgb(255, 255, 255);
}
footer {
  font-family: Courier, monospace;
  color: black;
}
#logo {
  opacity: 0.8;
  border-radius: 50%;
}
#training, #about, #contact {
  color: rgb(80, 11, 11);
}
nav {
  width: 60%;
}
#menu-liens {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#menu-liens li{
  font-family: Courier;
  transition: 0.2s ease-in;
}
 
#menu-liens li:hover{
  color: wheat;
}

#contact-page, #about-page, #training-page {
  margin-top: 6rem;
  width: 65%;
}

#contact-page, #about-page, #training-page {
  margin-top: 6rem;
  width: 65%;
}
#about-page div {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 3rem;
}
#about-page div p {
  width: 40%;
  font-family: monospace
}
#about-img {
  width: 70%;
}
#contact-page div{
  display: flex;
  justify-content: space-between;
}
#contact-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  width: 100%;

}
#contact-form span{
  color: gray;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 30%;
}
form {
  position: relative;
  width: 60%;
}
#block-form {
  display: flex;
  gap: .3rem;
}
textarea {
  width: 50%;
  padding: 1rem;
  border: 1px solid black;
}
#input-text {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  width: 50%;
}

#input-text input {
  height: 2rem;
  padding: 1rem;
  border: 1px solid black;
}
#btn-contact {
  position: absolute;
  right: 0;
  margin-top: .3rem;
  cursor: pointer;
  background-color: rgba(51, 36, 9, 0.843);
  padding: .5rem;
  color: white;
  transition: 0.5s;
}
#btn-contact:hover {
  background-color: rgba(51, 36, 9, 0.625);
}
 
#titre-page-training,#titre-page-about, #titre-page-contact {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgba(233, 177, 74, 0.625);
  font-weight: bolder;
}
#timer3-container, #timer2-container, #timer1-container {
  display: flex;
  gap: 2rem;
}
#timer3, #timer2, #timer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: serif;
  width: 60%;
  gap: 2rem;
}
#container-countTimer1 {
  display: flex;
  gap: 2rem;
  width: 100%;
}
#timer3 span, #timer2 span, #timer1 span{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.628);
  color: rgb(255, 255, 255);
  padding: .5rem;
  font-weight: bold;
  border-bottom: .5rem solid red;
  font-family: Courier, monospace;
}
#timer3 span div, #timer2 span div, #timer1 span div{
  font-size: 11px;
}
#timer1 span {
    border-bottom: .5rem solid skyblue;
}
#timer2 span {
  border-bottom: .5rem solid greenyellow;
}
#timer3-img, #timer2-img, #timer1-img {
  width: 35%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Responsive */
@media screen and (max-width: 64rem) {
  #menu-liens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #section-un {
    background-position: center;
  }
  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  #contact-form span{
    width: 100%;
  }
  form {
    width: 100%;
  }
  #block-form {
    display: flex;
    flex-direction: column;
    gap: .3rem;
  }
  textarea {
    width: 100%;
  }
  #input-text {
    width: 100%;
  }
  #contact-page, #about-page, #training-page {
  margin-top: 6rem;
  width: 65%;
  }
  #about-page div {
    display: flex;
    flex-direction: column;
  }
  #about-page div p {
    width: 100%;
  }
  #about-img {
    width: 100%;
  }
  #timer3-container, #timer2-container, #timer1-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
  }
   #timer3, #timer2, #timer1 {
    width: 100%;
  }
  #container-countTimer1 {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    width: 50%;
  }
  #timer3-img, #timer2-img, #timer1-img {
    width: 100%;
  }
}